iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pygame==2.6.1
Pygments==2.19.1
pytest==8.4.0
altgraph==0.17.4
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pygame==2.6.1
Pygments==2.19.1
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pytest==8.4.0
setuptools==80.9.0
